//Colors
$black : #1a1a1a;
$white : #ffffff;
$red : #4B3607;
$maroon : #4b3607;
$formBTN-txt : #cac4b6;
$dk_gray : #707070;
$lt_grey : #cccccc;
//Fonts
@font-face {
	font-family: hudsonnyserif;
	src: url('fonts/hudsonnyserif-webfont.ttf');
}
@font-face {
	font-family: ALoveofThunder;
	src: url('fonts/ALoveofThunder.ttf');
}



//Typography
$base-font-size : 18px!important;
$base-line-height : 1.8!important;

p{
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: 'ALoveofThunder'!important;
}
h1{
	font-family: 'hudsonnyserif'!important;
	font-size: 4.0em;
	font-weight: 300!important;
}
h2{
	font-family: 'hudsonnyserif'!important;
	font-size: 3.25em;
	font-weight: 300!important;
}
h3{
	font-family: 'hudsonnyserif'!important;
	font-size: 1.0em;
	font-weight: 300!important;
}
